body {
  font-family: Arial, sans-serif;
  background-image: url(https://pimea-ai-bucket.s3.eu-west-1.amazonaws.com/mediabin/Images/Background.jpg);
  margin: 0;
  padding: 0;
  direction: rtl;
  display: flex;
  justify-content: center;
  background-size: cover;
}

audio {
  visibility: hidden;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #444;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 15px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.allergy-div, .symptoms-div, .anti-allergens-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.antiAllergenCheckbox, .symptomCheckbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}

.antiAllergenCheckbox:hover, .symptomCheckbox:hover {
  background-color: #f9f9f9;
}

.antiAllergenCheckbox img, .symptomCheckbox img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.selectedAllergy, .selectedSymptom {
  background-color: #fff;
}

.checkbox-image {
  display: none;
}

input[type="checkbox"]:checked + .checkbox-image {
  display: block;
  width: 20px;
  height: 20px;
}
