body {
  font-family: Arial, sans-serif;
  background-image: url(https://pimea-ai-bucket.s3.eu-west-1.amazonaws.com/mediabin/Images/Background.jpg);
  margin: 0;
  padding: 0;
  direction: rtl;
  display: flex;
  justify-content: center;
  background-size: cover;
}

audio {
  visibility: none;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background: none;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #444;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.allergyDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.allergyCheckbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}

.allergyCheckbox:hover {
  background-color: #f9f9f9;
}

.allergyCheckbox img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.selectedAllergy {
  background-color: white;
}

.symptomsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.symptomsDiv img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.checkbox-image {
  display: none;
}

input[type="checkbox"]:checked+.checkbox-image {
  display: block;
  width: 20px;
  height: 20px;
}

/* CalandlyLink page styling */
iframe {
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

.symptomCheckbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}

.symptomCheckbox:hover {
  background-color: #f9f9f9;
}

.selectedSymptom {
  background-color: white;
}


/* body {
  direction: rtl;
  display: flex;
  justify-content: center;
  background-color: #008CBA;
  background-size: cover;
  background-image: url(https://pimea-ai-bucket.s3.eu-west-1.amazonaws.com/mediabin/Images/Background.jpg);
}

#appDiv {
  width: 400px;
}

h1 {
  text-align: center;
  color: black;
}

input::placeholder{
  font-size: large;
  font-weight: 900;

}

label {
  display: block;
  margin: 15px 0;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: x-large;
}

.allergyCheckbox, .symptomsCheckbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  width: -webkit-fill-available;
  padding: 10px;
  border: 3px solid black;
  border-radius: 4px;
  background: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

input {
  width: -webkit-fill-available;
  padding: 10px;
  border: 3px solid black;
  border-radius: 4px;
  background: none;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

input:hover{
  cursor: text;
  border: 5px solid black;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-image {
  display: flex;
  align-items: center;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

button{
  background: none;
  border:none;
  background-size: contain;
}

#submitBTN {
  align-items: center;
  padding: 10px;
  background-color: #008CBA;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
}

#submitBTN{
  background-color: green;
  cursor: pointer;
}

button:hover {
  background-color: green;
  cursor: pointer;
}

.allergyDiv, .symptomsDiv, .Anti-Allergens-Div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.allergyButton{
  height: 100px;
  width: 100px;
  background-size: contain;
}

.admin-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.admin-form label {
  display: block;
  margin-bottom: 10px;
}

.admin-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

.admin-form button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.user-data {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
}

.user-data h2 {
  margin-bottom: 10px;
}

.user-data p {
  margin-bottom: 5px;
} */